{% extends "base.html" %}
{% load staticfiles%}
{% load crispy_forms_tags %}
{% load bleach_tags %}

{% block main %}

<!-- @todo add training text to update form
<div class="row">
    <div class="col-sm-4">
        <h3>Step 1: Change the story variables.</h3>
    </div>
    <div class="col-sm-4">
        <h3>Step 2: Click to save.</h3>
    </div>
    <div class="col-sm-4">
        <h3>Step 3: Send the story to friends!</h3>
    </div>

</div>
-->


    <div class="container">
            <div class="row">
            <div id ="preview" class="jumbotron">No Text</div>
        </div>

        <div class="row">
            <div class="col-sm-4 col-sm-push-8">
                <h3>Variables</h3>
                <div id="var_fields">
                    {% if object.variables %}
                    {% for v in object.variables %}
                        <div class="var_input form-group" >
                            <div class="input-group">
                                <input class="form-control var-field" id="var-field-{{ forloop.counter0 }}" type="text" value="{{ v }}">
                                    <span class="input-group-btn">
                                        <button  data-var="{{ forloop.counter0 }}" class ="remove_var btn btn-default" type="button">
                                            <span class="glyphicon glyphicon-remove" aria-hidden="true"> </span>
                                        </button>
                                    </span>
                            </div>
                        </div>
                    {% endfor %}
                    {% else %}<div class="var_input form-group" ><input class="form-control var-field" id="var-field-0" type="text" value=""></div></input>
                    {% endif %}

                    <div class="form-actions">
                        <input type="button" class="btn btn-inverse"value="add variable input" id="add_var_btn">
                    </div>
                </div>
            </div>

            <div class="col-sm-8 col-sm-pull-4">
{#                <h3>Form</h3>#}
                <h3>Use a <em>%s</em> as a variable placeholder in the template.</h3>
                {% load wysiwyg %}
                {% wysiwyg_setup %}

                {{ form.media }}

                {% crispy form %}
                {% wysiwyg_editor "id_template" %}
            </div>

        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static "js/story_validate.js" %}"></script>
    <script src="{% static "js/story_vars.js" %}"></script>

{% endblock %}
