{% extends "base.html" %}
{% load bleach_tags %}

{% block title %}
    {{ story.title }}- {{ block.super }}
{% endblock title %}


{% block main %}



    <div class="container">
        <div class="col-sm-12 col-md-9 col-lg-8" id="lead-story">
            <h2>{{ story.title }} </h2>

            {% if story.image %}<img src="{{ story.display_image.url }}" class="img-rounded img-responsive pull-right">{% endif %}
            {{ story.display_text|bleach  }}

            <a href="{% url 'story_custom' story.slug %}" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-edit"></span> Fill In Story</a>

        {% include 'panews/_social_media_buttons.html' %}
            <div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>

        </div>

        {% include 'panews/_extra_stories.html' %}

        <!-- todo http://getbootstrap.com/components/#media-->

        {% include 'panews/_story_template_list.html' %}


<a href="{% url 'story_update' story.edit_slug %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Secret Editing Menu</a>
    </div>
{% endblock main %}