{% extends "base.html" %}
{% block title %}
{{ story.title }} Saved - {{ block.super }}
{% endblock title %}

{% load bleach_tags %}
{% load social_share %}

{% block main %}
    <div class="container">
        <div class="col-sm-12 col-md-9 col-lg-8" id="lead-story">
        <h3 class="alert alert-success alert-dismissable"><span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Story Template Saved</h3>
        <p><strong>To edit your story in the future, save this link:</strong>  <a href="{% url 'story_update' story.edit_slug %}">{{ SITE_URL }}{% url 'story_update' story.edit_slug %}</a></p>
        <p><strong>To view or share your story, use this link:</strong> <a href="{% url 'story_detail' story.slug %}">{{ SITE_URL }}{% url 'story_detail' story.slug %}</a></p>
        <p><strong>If you supplied an author email, we sent you an email with a link back to this page.</strong> If you share this page with anyone If you would like to add or change an email, just edit your story using the link above.</p>
        {% include 'panews/_social_media_buttons.html' %}
            <h2>{{ story.title }} <a href="{% url 'story_update' story.edit_slug %}"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span></a></h2>


            {% if story.image %}<img src="{{ story.display_image.url }}" class="img-rounded img-responsive pull-right">{% endif %}
            {{ story.display_text|bleach  }}

            <div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>

        </div>
        {% include 'panews/_story_template_list.html' %}


    </div>
{% endblock main %}