{% extends "base.html" %}

{% block main %}



    <div class="container">
        <div class="col-sm-12 col-md-9 col-lg-8" id="lead-story">
            <h2>{{ story.title }}</h2>


            <img src="http://placehold.it/225x350" class="img-rounded pull-right">

            <p>
                <mark>{{ story.city|upper }}</mark> - Locals on <mark>{{ story.street }}</mark> are at a loss to explain what has been happening in the <mark>{{ story.household }}</mark>. Dishes are being done but no one is doing them! <mark>{{ story.date }}</mark> at {{ story.time }} <mark>{{ story.subject_first_name|capfirst }} {{ story.subject_last_name|capfirst }}</mark>'s <mark>{{ story.cleaned_object }}</mark> was left <mark>{{ story.cleaned_location }}</mark>. Police say that this is not at all out of the ordinary. What is extraordinary, however, is that the <mark>{{ story.cleaned_object }}</mark> was cleaned without any human hands. How could it have been any other way because common decency demands that each house member take personal responsibility not to act like an animal who lives in <mark>his</mark> own filth.
            </p>

            <p>Almost more remarkably, Pete was unaware of the situation. "<mark>{{ story.excuse_this_time }}</mark>", he said, as <mark>{{ story.what_subject_did_instead }}</mark>. "<mark>{{ story.catchphrase }}</mark>" While no one has seen the gnomes there have been some missing socks from the washing machine recently, which is often associated with reports the small gremlin like creatures.
            </p>


            <a href="#" class="btn btn-warning btn-lg"><span class="glyphicon glyphicon-edit"></span> Customize Story</a>
            <a href="#" class="btn btn-primary btn-lg"><span class="glyphicon glyphicon-plus"></span> Create New Story</a>
            <div class="clearfix visible-xs-block visible-sm-block visible-md-block visible-lg-block"></div>

        </div>
        <div id="associated-stories-column" class="col-sm-12 col-md-3 col-lg-3">
            <h4>Obituary for a Sponge</h4>
            <p class="story">After a long life, Squiggy the Sponge passed on last week. Though his life's work was never fulfilled, he is survived by his children Squoggy, Squelchy, and Zeke.</p>
            <h4>Have you seen the tupperware?</h4>
            <p class="story">Tupperware continues to go missing. Could it be related to the why there is never a clean fork?</p>
            <h4>Man Arrested for Iguana Trafficking</h4>
            <p class="story">Lucas ipsum dolor sit amet maul kit boba thrawn tusken raider k-3po jade mandalore dantooine sebulba.</p>
        </div>


        <!-- todo http://getbootstrap.com/components/#media-->

        <div id="category-stories" class="col-sm-12 col-md-9 col-lg-8">
            <div class="col-sm-6 col-md-4 col-lg-4 story media">
                <h4 class="media-heading">Sports Story</h4>
                <img src="http://placehold.it/100x100" width="100px" height="100px" class="pull-left img-thumbnail media-object">

                <p>Lucas ipsum dolor sit amet maul kit boba thrawn tusken raider k-3po jade mandalore dantooine sebulba.
                    <a href="#">Read more</a></p>
            </div>
            <div class="clearfix visible-xs-block"></div>

            <div class="col-sm-6 col-md-4 col-lg-4 story media">
                <h4 class="media-heading">Category Story</h4>
                <img src="http://placehold.it/100x100" width="100px" height="100px" class="pull-left img-thumbnail media-object">
                <p>Lucas ipsum dolor sit amet maul kit boba thrawn tusken raider k-3po jade mandalore dantooine sebulba.
                    <a href="#">Read more</a></p>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="clearfix visible-xs-block"></div>

            <div class="col-sm-6 col-md-4 col-lg-4 story media">
                <h4 class="media-heading">Category Story</h4>
                <img src="http://placehold.it/100x100" width="100px" height="100px" class="pull-left img-thumbnail media-object">
                <p>Lucas ipsum dolor sit amet maul kit boba thrawn tusken raider k-3po jade mandalore dantooine sebulba.
                    <a href="#">Read more</a></p>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-sm-6 col-md-4 col-lg-4 story media">
                <h4 class="media-heading">Category Story</h4>
                <img src="http://placehold.it/100x100" width="100px" height="100px" class="pull-left img-thumbnail media-object">
                <p>Lucas ipsum dolor sit amet maul kit boba thrawn tusken raider k-3po jade mandalore dantooine sebulba.
                    <a href="#">Read more</a></p>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-sm-6 col-md-4 col-lg-4 story media">
                <h4 class="media-heading">Category Story</h4>
                <img src="http://placehold.it/100x100" width="100px" height="100px" class="pull-left img-thumbnail media-object">
                <p>Lucas ipsum dolor sit amet maul kit boba thrawn tusken raider k-3po jade mandalore dantooine sebulba.
                    <a href="#">Read more</a></p>
            </div>
            <div class="clearfix visible-xs-block"></div>
            <div class="col-sm-6 col-md-4 col-lg-4 story media">
                <h4 class="media-heading">Category Story</h4>
                <img src="http://placehold.it/100x100" width="100px" height="100px" class="pull-left img-thumbnail media-object">
                <p>Lucas ipsum dolor sit amet maul kit boba thrawn tusken raider k-3po jade mandalore dantooine sebulba.
                    <a href="#">Read more</a></p>
            </div>
        </div>


    </div>{% endblock %}