{% extends "base.html" %}
{% load staticfiles%}
{% load crispy_forms_tags %}
{% load bleach_tags %}

{% block main %}



    <div class="container">
            <div class="row">
                <div class="col-sm-9">
                    <div id ="preview" class="jumbotron">No Text</div>
                </div>


                <div class="col-sm-3">
                     <h3>Variables</h3>
                    <div id="var_fields">
                    {% if object.variables %}
                    {% for v in object.variables %}<div class="var_input form-group" ><input class="form-control var-field" id="var-field-{{ forloop.counter0 }}" type="text" value="{{ v }}"></div></input>{% endfor %}
                    {% else %}This template has no variables so there is nothing to change.
                    {% endif %}
                    </div>

                    {% crispy form %}
                </div>

                </div>

        </div>

        <div class="row">
            <div class="col-sm-4 col-sm-push-8">
            </div>


        </div>
    </div>

{% endblock %}

{% block scripts %}
    <script src="{% static "js/story_validate.js" %}"></script>
    <script src="{% static "js/story_vars.js" %}"></script>


{% endblock %}
