<!DOCTYPE html>
<html>
<head>
{% load staticfiles %}

    <meta charset="UTF-8">

    <title>{% block title %}Fill in the news{% endblock %}</title>

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" type="text/css" href="{% static "css/bootstrap.css" %}">
<link rel="shortcut icon" type="image/png" href="{{STATIC_URL}}favicon.ico"/>

</head>
<body>
<header>
    <h1>
        <a href="{% url 'home' %}"> Fill in The News</a>
    </h1>
    <h3>Don't just ____ the news, ____ it.</h3>
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#panews-navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand visible-xs-block" href="{% url 'story_list' %}">Browse Templates</a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="panews-navbar-collapse">
                <ul class="nav navbar-nav">
                <li><a href="#">What is this?</a> </li>
                <li><a href="{% url 'story_list' %}">Browse Templates</a> </li>
                </ul>
                <ul class="nav navbar-right"><a class="btn navbar-btn btn-default" href="{% url 'template_create' %}"><span class="glyphicon glyphicon-plus"></span> New Template</a></ul>

            </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
    </nav>

</header>
<main class="container">
    {% block main %}

maintext
    {% endblock %}
</main>

<footer class="panel-footer">
    <div class="container">
    <p>
        <span class="visible-xs-inline label label-default">EXTRA SMALL</span>
        <span class="visible-sm-inline-block label label-default">SMALL</span>
        <span class="visible-md-inline-block label label-default">MEDIUM</span>
        <span class="visible-lg-inline-block label label-default">LARGE</span>

        Copyright 2014. Fill in The News</p>
        </div>
</footer>

<script src="http://code.jquery.com/jquery.min.js"></script>
<script src="{% static "js/bootstrap.min.js" %}"></script>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
{% block scripts %}
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-56964706-1', 'auto');
  ga('send', 'pageview');

</script>
{% endblock scripts %}
</body>
</html>