{% extends "base.html" %}
{% load bleach_tags %}


{% block main %}


    <div class="container category-story-list">


        {% if story_list %}
            {%  for story in story_list %}
            {% if forloop.first %}<div class="row">{% endif %}

            <div class="col-sm-4 story media">
                <h4 class="media-heading"><a href="{% url 'story_detail' story.slug %}">{{ story.title }}</a></h4>
                {% if story.image %}<img src="{{ story.icon_image.url }}" width="100px" height="100px" class="pull-left img-thumbnail media-object">{% endif %}

                <p>{{ story.display_text|truncatewords:30|bleach }}
                    <a href="{% url 'story_detail' story.slug %}">Read more</a></p>
            </div>
            {% if forloop.counter|divisibleby:3 %}</div><div class="row">{% endif %}
            {% if forloop.last %}</div>{% endif %}
        {% endfor %}
        {% else %}
        no stories... :(
        {% endif %}


    </div>
{% endblock %}